.top-pad {
  padding-top: 80px;
}
.json-results {
  margin-top: 30px;
}

.the-options {
  border: 0.5px dashed #fff; 
  padding: 5px; 
  margin: 0px 5px;
}

.the-options label {
  margin-right: 10px;
}

.copytoclipboard {
    position: relative;
    right: 45px;
    top: 10px;
}

.well-blue {
  background-color: #1f4a80;
}

.adorno {
  max-width: 50px;
  height: auto;
}