<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Hello world!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" rel="stylesheet">
    <link href="assets/stylesheet/custom.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>Sy-Utils</h2>
        <p>Vamos a acelerar el desarrollo de nuevos módulos!</p>
        <div class="row">
          <div class="col-md-6">
            <a href="/login" class="btn btn-primary">Iniciar sesión</a>
            <a href="/signup" class="btn btn-primary">Registrarse</a>
          </div>
          <div class="col-md-6">
            <div class="designed-by pull-right">
              <img src="assets/images/logo_ontech.png" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>