<!DOCTYPE html>
<html lang="es">

<head>
  <title>Sy Utils!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" rel="stylesheet">
  <link href="assets/stylesheet/custom.css" rel="stylesheet">
</head>

<body class="top-pad">
  <div class="container">
    <div class="jumbotron">
      <h2>Sy-Utils <small>1.0.1</small></h2>
      <p>Vamos a acelerar el desarrollo de nuevos módulos!</p>
      <div class="row">
        <div class="col-md-12">
          <a href="/login" class="">Iniciar sesión</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 well">
          <p>Log</p>
          <ul>
            <li>Configuraciones iniciales, gulp, nodemon, browsify</li>
            <li>Configuraciones Express</li>
            <li>EJS Templates</li>
            <li>Configuraciones autorización Passport</li>
        </div>
      </div>
    </div>
    <div class="designed-by pull-right">
      <img src="assets/images/logo_ontech.png" class="img-responsive">
    </div>
  </div>
</body>

</html>